@{
    ViewData["Title"] = "Haigla registratuur";
}

<div class="jumbotron">
    <h1>@ViewData["Title"]</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Tere tulemast Haigla registratuuri</h2>
        <p>
            Lorem ipsum dor sit amir
        </p>
    </div>
    <div class="col-md-4">
        <h2>Mis on haigla registratuurC</h2>
        <p>
            Lorem ipsum bla bla bla
        </p>
        <p>
            <a class="btn btn-default"
               href="https://docs.microsoft.com/en-us/aspnet/core/mvc/overview?view=aspnetcore-2.1">
                Soovin rohkem teada &raquo;
            </a>
        </p>
    </div>
</div>
